test/fixtures/minimal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="urn:dialecte:example"
           xmlns="urn:dialecte:example">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="label" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
